@model HomeWorkApplication.Models.OrderModels.OrderViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ваш заказ</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Наименование блюда
        </th>
        <th>
            Описание блюда
        </th>
        <th>
            Цена блюда
        </th>
        <th>
            Количество:
        </th>
        <th>
            Общая сумма:
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var dish in Model.BucketItems)
    {
        <tr>
            <td>@dish.Dish.Name</td>
            <td>@dish.Dish.Description</td>
            <td>@dish.Dish.Price</td>
            <td>@dish.DishCount</td>
            <td>@(dish.DishCount*dish.Dish.Price)</td>
        </tr>
    }
    </tbody>
</table>
<div>
    Общая сумма заказа:@Model.BucketItems.Sum(i => i.DishCount * i.Dish.Price);
</div>
